{{- range .BackendGroups }}
{{- range .Backends }}
backend {{ .Name }} {
    .host = "{{ .IP }}";
    .port = "{{ .Port }}";
{{- if .ProbeURL }}
    .probe = {
        .url = "{{ .ProbeURL }}";
        .interval = {{ .ProbeInterval }};
        .timeout = {{ .ProbeTimeout }};
        .window = {{ .ProbeWindow }};
        .threshold = {{ .ProbeThreshold }};
{{- if .ProbeExpectedResponse }}
        .expected_response = {{ .ProbeExpectedResponse }};
{{- end }}
    }
{{- end }}
{{- if .ConnectTimeout }}
    .connect_timeout = {{ .ConnectTimeout }};
{{- end }}
{{- if .FirstByteTimeout }}
    .first_byte_timeout = {{ .FirstByteTimeout }};
{{- end }}
{{- if .BetweenBytesTimeout }}
    .between_bytes_timeout = {{ .BetweenBytesTimeout }};
{{- end }}
{{- if .MaxConnections }}
    .max_connections = {{ .MaxConnections }};
{{- end }}
}
{{ end }}
{{- end }}
{{- if .HasCluster }}
{{ range .PeerDefs }}
backend {{ .Name }} {
    .host = "{{ .IP }}";
    .port = "{{ .Port }}";
}
{{ end }}
{{- end }}
